body {
    background: rgb(219, 173, 112);
}
header {
    font: normal 20pt Arial;
    text-align: center;
}
section {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
    font: normal 17pt Arial;
    text-align: center;
}
